
{% extends "blog/base.html" %}

{% block content %}
	
		<article class="media content-section">
			
		  <div class="media-body">
		    <div class="article-metadata">
		      <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
		      <small class="text-muted">{{ object.date|date:"F d, Y" }}</small>
		      {% if object.author == user or object.coPI == user.username or object.member1 == user.username or object.member2 == user.username or object.member3 == user.username or object.member4 == user.username or object.member5 == user.username %}
		      	<div>
		      		<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %} "> update </a>
		      		{% if object.author == user %}
		      		<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %} "> delete </a>
		      		{% endif %}
		      	</div>
		      {% endif %}
		    </div>
		    {% if object.author == user %}
		    <h2><a class="article-title" href="{% url 'post-detail' post.id %} ">{{ post.title }}</a></h2>
		    <p class="article-content">{{ object.content }}</p>
		    <h5> PI - {{post.PI}} </h5>
		    {% if post.coPI %}
		    		<h5> CoPI - {{ post.coPI }} </h5>
		    {% endif %}
		      	<div>
		      		<p class="article-content">OTHER DETAILS </p>
				    <p class="article-content">{{post.description}}</p>
				    <p class="article-content">Funding :- Rs.{{ post.funding }}</p>
				    <p class="article-content">Sanctioned Amount :- Rs.{{ post.sanctionedAmount }}</p>
				    <p class="article-content">StartDate:- {{ post.startDate }}</p>

				    <h5> Members </h5>
				    <ul>
				    	{% if post.member1 %}
				    		<li> {{ post.member1 }} </li>
				    	{% endif %}
				    	{% if post.member2 %}
				    		<li> {{ post.member2 }} </li>
				    	{% endif %}
				    	{% if post.member3 %}
				    		<li> {{ post.member3 }} </li>
				    	{% endif %}
				    	{% if post.member4 %}
				    		<li> {{ post.member4 }} </li>
				    	{% endif %}
				    	{% if post.member5 %}
				    		<li> {{ post.member5 }} </li>
				    	{% endif %}
				    </ul>
		 			<br>
				    <a class="btn btn-outline-info mb-4" href="{% url 'upload_file' %}"> Create MoM's or Add other Files </a>
				    <a class="btn btn-outline-info mb-4" > Set new Deadline </a>

				    <h5> Project's Files </h5>
				    {% for file in file_obj_list %}
				    	<h6> <a href='{{ MEDIA_URL }}/{{ file.document }}'>{{ file.file_title }}</a></h6>
				    	<p> Description: {{ file.description }} </p>
				    	<p> {{ file.name }} </p>
				    {% endfor %}
		      	</div>
		      {% endif %}

		  
		      </div>
		</article>
	

{% endblock content %}
